.title {
  @media (max-width: 768px) {
    line-height: 2.5rem;
  }
}

.article-container {
  display: flex;
  gap: 3rem;

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
  }

  .article {
    width: 800px;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  .toc {
    align-self: flex-start;
    align-items: center;
    position: sticky;
    top: 8rem;
    width: 25rem;
    border: 1px solid gray;
    border-radius: 5px;
    max-height: 700px;
    overflow-y: scroll;

    @media (max-width: 1024px) {
      width: 100%;
      position: unset;
      margin-bottom: -2rem;
    }
  }
}

.article-footer {
  width: 800px;
  border: 1px solid rgb(95, 92, 92);
  border-radius: 5px;
  margin-top: 1.5rem;
  padding: 1rem 1rem;
  line-height: 1.9rem;

  @media (max-width: 1024px) {
    width: 100%;
  }
}
