.metrics {
  margin-top: 0.5rem;
}

.metric,
.metricCount {
  padding: 1px 5px;
  background-color: rgba(52, 73, 94, 0.1);
  border-bottom: unset;

  @media (max-width: 450px) {
    padding: 2px 3.5px;
  }
}
